data/plans_schema_copia.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">

	<xs:element name="operator" type="Toperator"/>

	<xs:complexType name="Toperator">
		<xs:sequence>
			<xs:element name="plan" type="Tplan" maxOccurence="unbonded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="logo" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="Tplan">
		<xs:sequence>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="insertdate" type="xs:date"/>
			<xs:element name="inerttime" type="xs:time"/>
            <xs:element name="available" type="Tavailable"/>
            <xs:element name="price" type="Tprice"/>
            <xs:element name="expiry" type="Texpiry"/>
            <xs:element name="image" type="xs:string"/>
            <xs:element name="rates" type="Trates"/>
            <xs:element name="description" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="payments" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="Tavailable">
		<xs:sequence>
			<xs:element name="stardate" type="xs:date"/>
			<xs:element name="enddate" type="xs:date"/>
		</xs:sequence>
		<xs:attribute name="disable" type="xs:boolean" default="false"/>
	</xs:complexType>

	<xs:complexType name="Tprice">
		<xs:simpleContent>
			<xs:extension base="xs:float"/>
		</xs:simpleContent>
		<xs:attribute name="currency" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="Texpiry">
		<xs:simpleContent>
			<xs:extension base="xs:integer"/>
		</xs:simpleContent>
		<xs:attribute name="unit" type="Tunit"/>
	</xs:complexType>


	<xs:simpleType name="Tunit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="day" />
			<xs:enumeration value="week" />
			<xs:enumeration value="month" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Trates" mixed="true">
		<xs:sequence>
			<xs:element name="minutes" type="xs:string"/>
			<xs:element name="messages" type="xs:string"/>
			<xs:element name="internet" type="Tinternet"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Tinternet">
		<xs:simpleContent>
			<xs:extension base="xs:integer"/>
		</xs:simpleContent>
		<xs:attribute name="datasize" type="Tdata"/>
	</xs:complexType>

    <xs:simpleType name="Tdata">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MB" />
			<xs:enumeration value="GB" />
		</xs:restriction>
	</xs:simpleType>
        
</xs:schema>